@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #023535, #015958, #008F8C, #D8FFDB, #C7FFED);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(83, 126, 112, 0.719);
    width: 600px; 
    padding: 10px;
    margin: auto;
}

h1 {
    color: #023535;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(83, 126, 112, 0.521);;
}

h2 {
    color: #015958;
}
p {
    text-align: justify; 
}